@font-face {
    font-family: mySecondFont;
    src: url('../../assets/GothamBold.ttf');
}
#order_wrapper{
   
    display: flex;
    justify-content:center;
    align-items: flex-start;
    #img_c_wrapper{
        height: 1000px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        #car{
            height:auto;
            width:60vw;
        }div{
            font-size:20px;
            margin:0;
            padding:0;
            display: flex;
                justify-content: space-around;
                align-items: center;
        }
    }
    #order_sum{
        // margin-right: 10vw;
        display: flex;
        justify-content: center;
        flex-direction: column;
        #model_name{
            display: flex;
            justify-content: left;
            font-family:mySecondFont;
            font-weight: 400;
            font-size: 35px;
        }
        #c_con{
            
            padding-left:30px;
            p{
                color: black;
                text-decoration:none;
                font-size: px;
                font-family:mySecondFont;
            }
        }
        #stats{
            // display: flex;
            // justify-content: left;
            padding:0;
        #sp_head,#sp{
            display: flex;
            width:400px;
            justify-content: space-around;
            margin-bottom: 10px;
            .h22{
                font-size: 20px;
                display:flex;
                justify-content: center;
                width:125px;
            }
            .sp_des{
                display: flex;
                    justify-content: center;
                    width: 125px;
            }
        }
    }
        #en_auto{
            margin-bottom: 40px;
            // padding:15px;
            
            .f_con{
                font-family: mySecondFont;
            }
            div{
                padding-left:30px;
            }
        }
        .but11{
            height:40px;
            width:150px;
            font-family: mySecondFont;
            border-radius: 25px;
            font-size: 15px;
            background-color: rgb(74, 124, 253);

        }
        #mon_sum{
            // margin-top: 15px;
            .tb_wr{
                display: flex;
                // width:400px;
                justify-content: space-between;
            }
        }
        #order_wr{
            display: flex;
            justify-content: center;
            margin-bottom: 40px;
            button{
                height:50px;
                    width: 300px;
                    font-family: mySecondFont;
                    font-size:25px;
                    border-radius: 25px;
                    background-color: rgb(74, 124, 253);
            }
        }
        #stats{
            margin-bottom: 40px;
        }
        #p_f{
            font-size: 35px;
            font-family: mySecondFont;
        }
    }
}
.p12{
    display: flex;
    justify-content: center;
}