
.header{
    display: flex;
    background-color: transparent;
    background: none;
    position: fixed;
    width:100vw;
    top:0;
    /* margin:15px; */
    margin-top: 15px;
    z-index: 100;
}

.header_logo {
  height: 100px;
  width: 120px;
  margin-left: 10px;
}
.header_logo a{
  text-decoration: none;
  color: black;
} 
.header_center {
  flex: 1;
  display: flex;
  margin-left: 330px;
}

.header_center p {
  margin: 10px;
  font-weight: 500;
  font-size: 16px;
  margin-left: 18px;
  margin-top: 4px;
  animation: 0.5s slideMenu linear forwards;
}

.header_center a {
  color: black;
  text-decoration: none;
  margin-bottom: 200px;
  animation: 0.5s slideMenuBg linear forwards;
}

.header_right {
  display: flex;
  justify-content: flex-end;
  margin-right: 24px;
}

.header_right p {
  margin: 10px;
  font-weight: 500;
  font-size: 16px;
  margin-left: 10px;
  margin-top: 4px;
  animation: 0.5s slideMenu linear forwards;
}

.header_right a {
  color: black;
  text-decoration: none;
  margin-bottom: 200px;
  animation: 0.5s slideMenuBg linear forwards;
}

aside {
  position: fixed;
  transition: right .4s ease;
  right: -400px;
  width: 215px;
  background-color: #fff;
  padding: 80px 40px;
  z-index: 4;
  height: 100vh;
  margin-top: -20px;
}

aside.active {
  right: 0;
}

aside a {
  display: block;
  color: inherit;
  text-decoration: none;
  padding: 9px 0;
  font-size: 16px;
  font-weight: 500;
  color: darkslategray;
}

aside button.close {
  font-size: 24px;
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  font-family: sans-serif;
  font-weight: 100;
  cursor: pointer;
  color: black;
}

.backdrop {
  display: none;
  position: fixed;
  z-index: 3;
  inset: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color .4s ease;
  backdrop-filter: blur(5px);
}

.backdrop.active {
  display: block;
  background-color: rgba(0, 0, 0, .35);
}

.header_center a,
.header_right a {
  position: relative;
  display: inline-block;
  transition: transform 0.3s ease;
}

.header_center a:before,
.header_right a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 100%;
  bottom: 0;
  background-color: #C8D4DC;
  z-index: -1;
  transition: right 0.3s ease;
}

.header_center a:hover:before,
.header_right a:hover:before {
  right: 0;
}


@keyframes slideMenu {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}


/* Responsive Styles */
@media (max-width: 900px) {
  .header_center {
    display: none;
  }
  
  .header_right {
    margin-left: 150px;
  }
  
  .header_right p {
    margin-left: 5px;
  }
}
