.item {
    height: 100vh;
    width: 100%; /* Changed to be responsive */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
  }
  
  .item_container {
    width: 90%; /* Changed to be responsive */
    max-width: 1200px; /* Added maximum width for larger screens */
    margin: 0 auto; /* Center the container */
    display: flex;
    flex-direction: column; /* Changed to column for better responsiveness */
    align-items: center;
  }
  
  .item_text {
    margin-top: 10vh; /* Changed to be responsive */
    text-align: center; /* Center the text */
    font-size: 3rem;
    font-weight: 500;
    color: black;
  }
  
  .item_textDesc {
    font-weight: 400;
    font-size: 1rem;
    text-align: center; /* Center the text */
  }
  
  .item_lowerThird {
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .item_buttons {
    display: flex;
    margin-top: -140px; /* Adjust spacing */
    margin-left: 180px;
  }
  
  .item_buttons button {
    font-size: 0.9rem; /* Adjust button font size */
  }
  
  .item_expand {
    color: white;
    width: 100%;
    margin-top: 3%;
    display: flex;
    justify-content: center;
  }
  
  /* Media Queries */
  @media screen and (max-width: 768px) {
    .item_text {
      font-size: 2.5rem;
    }
    .item_textDesc {
      font-size: 0.875rem;
    }
    
    .item_buttons button {
      font-size: 0.8rem; /* Adjust button font size for small screens */
    }
    .item_buttons{
        max-width: 240px;
    }
  }
  
  .center_single_button {
    justify-content: center;
  }
html{
    scroll-behavior: smooth;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
  }
  
.item{
    scroll-snap-align:start;
    transition: 2s;
}